<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="login-box well">
                    <form action="">
                        <legend>Sign In</legend>
                        <div class="form-group">
                            <label for="username-email">E-mail or Username</label>
                            <input ng-model="$ctrl.userName" type="text" class="form-control" />
                        </div> 
                       <div class="form-group">
                            <input type="button" name="" value="login" ng-click="$ctrl.login()"/>
                        </div>
                    </form>
                
            </div>
        </div>
    </div>
</div>