<product navigate=false model=products.model updatefunction="products.updateFunction()"></product>
 <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-container">
              <table class="table table-filter activites-table">
                <thead>
                  <tr>
                    <th class="header">Activites</th>
                  </tr>
                </tead>
                <tbody>
                  <tr ng-repeat="activity in products.model.activites | orderBy: '-price' track by $index" data-status="pagado">
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <h4 class="title">
                            {{activity.user}}
                          </h4>
                          <p class="summary">{{activity.price | currency}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</div>
